@import "variables";

.taskscomponent_wrap {
  position: absolute;
  top: $toolbar_height;
  left: 0;
  width: 75%;
  display: flex;
  flex-wrap: wrap;


  & .panel {
    box-shadow: $shadow #999999;
    margin: 10px;
    width: 31%;
    padding-bottom: 7px;

    .panel_header {
      background: #7986CB;
      padding: 10px;
      height: 3em;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .task {

      border-radius: 5px;
      box-shadow: $shadow #ccc;
      background-color: $soft_color;
      max-width: 90%;
      margin: 20px auto;
      padding: 10px;

      .title {
        cursor: pointer;
      }

      input.checkbox {
        height: 20px;
        width: 20px;
      }
    }

    .task_inside_wrap {
      display: flex;
      align-items: center;

      .left_panel {
        width: 90%;

        div {
          max-width: 90%;
          word-break: break-all;
          padding: 10px;
        }

        .title {
          &:focus {
            outline: none;
            //border-bottom: 1px solid black;
            border-left: 3px solid #FFC107;
            box-sizing: border-box;
          }
        }

      }

      .right_panel {
        width: 10%;
      }

    }

    input.checkbox {
      height: 20px;
      width: 20px;
    }

    .new_task, .panel_header_new {
      display: flex;
      justify-content: center;
      background-color: #B2DFDB;
      padding: 10px 0px;
    }


  }

  .panel_new {

    align-self: flex-start;
    padding-bottom: 0px;
    cursor: pointer;


  }

  .drag {
    background-color: red;
  }
}