@import "src/scss/variables";

.toolbar_wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $toolbar_height;
  background-color: $primary_color;
  box-shadow: $shadow;
  color: #E8EAF6;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .wrap {
    width: 33%;
    display: flex;
    padding: 0px 20px;
    overflow: hidden;
  }

  .search_wrap {
    display: flex;
    justify-content: center;
    width: 33%;
    & > div{
      width: 100%;
      max-height: 2em;
    }
    .autocomplete-input{
      height: 2em;
    }
    & li{
      color: $primary_color;
    }

  }
  .autocomplete{
    width: 100%;
  }

  .icon_button{
    border-radius: 50%;
    &:hover{
      color: #7986CB;
    }
    &:active{
      color: #FFC107;


    }
  }
  .buttons_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .icon_button{
      cursor: pointer;
    }

    input[type="file"] {
      display: none;
    }

    .custom-file-upload {
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
    }
  }
  .title_wrap{
    display: flex;
    align-items: center;
    .appTitle{
      outline: none;
      padding: 5px;
      &:focus{
        border: 1px solid #e8eaf6;
        border-radius: 5px;
      }
      &:hover{
        cursor: pointer;
      }

    }
  }
  @media screen and (max-width: 600px){
    position: fixed;
    z-index: 1000;
    .wrap{
      padding: 0;
    }

    .search_wrap{
      flex: 1;
      width: 50%;
    }

  }

}